<div class="homeBodyBackgroundDiv">
</div>
<br>
<h1>BAVART</h1>
<br>
<p id="homeSubtitle">Welcome to the best art auction service on the planet!</p>
<p id="homeLink">Click <a href="/register">here</a> to register</p>
<footer id="homeFooter">
    <div>
        @Copyright Bobby Frazette, Abhaya Pawar, Vanessa Otto, &amp; Adam Zamojski
    </div>
</footer>