
<div class="bodyBackgroundDiv">
</div>
<div class="bodyDiv">
  <br>
  <h1>BAVART Images</h1>
  <br>
  <div class="col-xs-3"></div>
  <div class="row">
    <form method="post" action="api/image" id="image-form" enctype="multipart/form-data">
        <input type="file" name="photos" size="200" multiple><br>
        <div id="giphInfo">
        <div class="single-img">
        </div>
      </div>
      <div class="col-xs-3"></div>
        <button type="submit" name="submit" value="submit">Submit</button>
        <img src="" width="40%" height="50%" alt="Image preview..."><br>
    </form>
  </div>
  <div class = "imageplace">
  </div>
  <div class="col-xs-3"></div>
  <br>
  {{#each imageArr}}
  <img src="/api/getimage/{{name}}"/>
  {{/each}}
  <h3>Click <a href="/auction">here</a> return to the auction page</h3>
  <h3>Click <a href="/home">here</a> to return to the home page</h3>
  <footer id="indexFooter">
    <div>
      @Copyright Bobby Frazette, Abhaya Pawar, Vanessa Otto, &amp; Adam Zamojski
    </div>
  </footer>
</div>
<script>
  var imageHolder = ("<div class='images'>")
   function previewFile(){
   // for (var i=0; i<imageArray.length; i++){
       var preview = document.querySelector('img'); 
       for 
       var file    = document.querySelector('input[type=file]')
       var reader  = new FileReader();
       reader.onloadend = function () {
           preview.src = reader.result;
       }
       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
           // imageHolder.append(file);
       } else {
           preview.src = "";
       }
       }
  }
$('#image-form button').on("click", function(event){
    event.preventDefault();
    previewFile(); 
    console.log($('#image-form').serializeArray());
 });
$('#image-display button').on("click", function(imageRecord){
  event.preventDefault();
      var simple = imageRecord.get({plain:true});
      // console.log(simple);
      var imageData = fs.readFileSync(__dirname + '/../'+ simple.data);
      //res.writeHead({"Content-Type" : simple.type});
        res.writeHead(200, {'Content-Type': simple.type });
        res.end(imageData, 'binary');
 });
 
    // var imageArray = [];
</script>